$font-family-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$color-primary: #1A73C1;
$color-primary-darken: darken($color-primary, 15%);

$color-grey-1: #777;
$color-grey-2: #f5f5f5;

$transition-duration-base: 200ms;

$font-size-large: 18px;
