<template>
    <AccordionContainer/>
</template>

<script>
import AccordionContainer from '@/components/AccordionContainer.vue';

export default {
    components: {
        AccordionContainer,
    },
};
</script>
