<template>
    <button class="c-accordion__button"
        @mousedown="handleMousedown"
        :title="displayNotes">
        {{ displayNotes }}
        <span class="u-visually-hidden">
            Click to play push note; right click to play pull note
        </span>

    </button>
</template>

<script>
import { abcToNatural } from '@/filters';

export default {
    props: {
        pushNote: String,
        pullNote: String,
        isPull: {
            type: Boolean,
            default: false,
        },
        convertFromAbc: {
            type: Boolean,
            default: false,
        },
    },
    computed: {
        displayPushNote() {
            if (this.convertFromAbc) {
                return abcToNatural(this.pushNote);
            }

            return this.pushNote;
        },
        displayPullNote() {
            if (this.convertFromAbc) {
                return abcToNatural(this.pullNote);
            }

            return this.pullNote;
        },
        displayNotes() {
            return `${this.displayPushNote}/${this.displayPullNote}`;
        },
    },
    methods: {
        handleMousedown(event) {
            if (event.which === 1) {
                event.preventDefault();
                this.playNote(this.pushNote);
            } else if (event.which === 3) {
                event.preventDefault();
                this.playNote(this.pullNote);
            }
        },
        playNote(note) {
            console.log(note);
        },
    },
};
</script>

<style lang="scss">
    .c-accordion__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        margin: 5px;
        border-radius: 100%;
        background: #ece3d7;

        &:focus,
        &:active {
            outline: 1px dotted black;
        }
    }
</style>
