<template>
    <div class="c-accordion">
        <AccordionKeyboard>
            <AccordionRow v-for="(row, rowName) in leftHand" :key="`left_row_${rowName}`">
                <AccordionButton
                    v-for="(button, buttonName) in row"
                    :key="`left_row_${rowName}_button_${buttonName}`"
                    :push-note="button[0]"
                    :pull-note="button[1]"
                    :is-pull="isPull"/>
            </AccordionRow>
        </AccordionKeyboard>
        <AccordionKeyboard>
            <AccordionRow v-for="(row, rowName) in rightHand" :key="`right_row_${rowName}`">
                <AccordionButton
                    v-for="(button, buttonName) in row"
                    :key="`right_row_${rowName}_button_${buttonName}`"
                    :push-note="button[0]"
                    :pull-note="button[1]"
                    :is-pull="isPull"
                    :convert-from-abc="true"/>
            </AccordionRow>
        </AccordionKeyboard>
    </div>
</template>

<script>
import AccordionButton from '@/components/AccordionButton.vue';
import AccordionRow from '@/components/AccordionRow.vue';
import AccordionKeyboard from '@/components/AccordionKeyboard.vue';

export default {
    components: {
        AccordionButton,
        AccordionRow,
        AccordionKeyboard,
    },
    data() {
        return {
            rightHand: {
                d: {
                    1: ['^F,', 'A,'],
                    2: ['A,', '^C'],
                    3: ['D', 'E'],
                    4: ['^F', 'G'],
                    5: ['A', 'B'],
                    6: ['d', '^c'],
                    7: ['^f', 'e'],
                    8: ['a', 'g'],
                    9: ['d\'', 'b'],
                    10: ['^f\'', '^c\''],
                    11: ['a\'', 'e\''],
                },
                g: {
                    1: ['B,', 'D'],
                    2: ['D', '^F'],
                    3: ['G', 'A'],
                    4: ['B', 'c'],
                    5: ['d', 'e'],
                    6: ['g', '^f'],
                    7: ['b', 'a'],
                    8: ['d\'', 'c\''],
                    9: ['g\'', 'e\''],
                    10: ['b\'', '^f\''],
                },
                accidentals: {
                    1: ['_E', 'F'],
                    2: ['_B', '^g'],
                    3: ['f', 'd'],
                    4: ['_e', 'f'],
                    5: ['_b', '^g\''],
                },
            },
            leftHand: {
                1: {
                    1: ['B', 'E'],
                    2: ['C', 'C'],
                },
                2: {
                    1: ['D', 'A'],
                    2: ['G', 'D'],
                },
            },
            isPull: false,
        };
    },
};
</script>

<style lang="scss">
    .c-accordion {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
