<template>
    <div class="c-accordion__keyboard">
        <slot></slot>
    </div>
</template>

<style lang="scss">
    .c-accordion__keyboard {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
</style>
