<template>
    <BaseButton v-on="$listeners">
        <slot/>
    </BaseButton>
</template>

<script>
import BaseButton from '@/components/BaseButton.vue';

export default {
    components: {
        BaseButton,
    },
};
</script>

<style lang="scss" scoped>
    .c-btn {
        background: transparent;
        color: $color-primary;

        &:focus,
        &:hover,
        &:active {
            background: $color-primary-darken;
            color: white;
        }
    }
</style>
