<template>
    <button v-on="$listeners" class="c-btn">
        <slot/>
    </button>
</template>

<style lang="scss" scoped>
    $padding: 0.75em;

    .c-btn {
        border: 0;
        border-radius: $padding * 2;
        border: 1px solid $color-primary;
        background: $color-primary;
        color: white;
        font-family: $font-family-system;
        font-size: 1rem;
        line-height: 1.2;
        white-space: nowrap;
        text-decoration: none;
        padding: $padding $padding * 2;
        margin: 0;
        cursor: pointer;
        transition: all $transition-duration-base;
        outline: none;

        &:focus,
        &:hover,
        &:active {
            background: $color-primary-darken;
            border-color: $color-primary-darken
        }
    }
</style>
