<template>
    <table class="c-table">
        <thead>
            <tr class="c-table__heading-row">
                <th class="c-table__heading-cell"
                    v-for="heading in computedColumnHeadings"
                    :key="`column_${heading.key}`">
                        <span class="c-table__heading">{{ heading.label }}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="c-table__row" v-for="row in items" :key="`row_${row.id}`">
                <td class="c-table__cell"
                    v-for="heading in computedColumnHeadings"
                    :key="`row_${row.id}_column_${heading.key}`"
                    v-html="row[heading.key]">
                </td>
                <td class="c-table__cell">
                    <BaseButtonOutline @click="$emit('select', row.id)">Select</BaseButtonOutline>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
import { humanise } from '../filters';

import BaseButtonOutline from '@/components/BaseButtonOutline.vue';

export default {
    components: {
        BaseButtonOutline,
    },
    props: {
        items: {
            type: [Array, Object, Function],
            default: () => [],
        },
    },
    computed: {
        computedColumnHeadings() {
            const headings = [];

            if (!this.items.length) {
                return headings;
            }

            const firstRow = this.items[0];

            Object.keys(firstRow).forEach((key) => {
                headings.push({
                    key,
                    label: humanise(key),
                });
            });

            return headings;
        },
    },
};
</script>

<style lang="scss">
    .c-table {
        border-collapse: collapse;
        margin: 0 auto 1em;
        min-width: 45%;

        &__row {
            &:nth-child(odd) {
                background: $color-grey-2;
            }
        }

        &__heading-cell,
        &__cell {
            border: 0;
            padding: 16px 20px;
        }
    }
</style>
