<template>
    <label>
        <span class="u-visually-hidden">{{ label }}</span>
        <input class="c-input"
            :type="type"
            :placeholder="label"
            v-bind="$attrs"
            @input="$emit('update', $event.target.value)"
            v-on="$listeners"/>
    </label>
</template>

<script>
export default {
    // Disable automatic attribute inheritance, so that $attrs are
    // passed to the <input>, even if it's not the root element.
    // https://vuejs.org/v2/guide/components-props.html#Disabling-Attribute-Inheritance
    inheritAttrs: false,
    // Change the v-model event name to `update` to avoid changing
    // the behavior of the native `input` event.
    // https://vuejs.org/v2/guide/components-custom-events.html#Customizing-Component-v-model
    model: {
        event: 'update',
    },
    props: {
        type: {
            type: String,
            default: 'text',
            validator(value) {
                return [
                    'email',
                    'number',
                    'password',
                    'search',
                    'tel',
                    'text',
                    'url',
                ].includes(value);
            },
        },
        label: {
            type: String,
            required: true,
        },
    },
};
</script>

<style lang="scss">
    .c-input {
        font-size: $font-size-large;
        padding: 0.5em 1.5em;
        border-radius: 2em;
        border: 2px solid $color-grey-1;
        transition: all $transition-duration-base;
        outline: none;

        &:focus {
            border-color: $color-primary;
        }
    }
</style>
