<template>
    <div class="c-tune-finder">
        <h2>Search</h2>
        <p>Search <a href="https://thesession.org/">thesession.org</a> for a tune.</p>
        <form class="c-tune-finder__search" @submit.prevent="submitHandler">
            <BaseInput type="text" label="Search for a tune..." v-model="searchTerm"/>
            <BaseButton>Search</BaseButton>
        </form>
        <BaseLoader v-if="isLoading"/>
        <BaseTable
            v-else-if="settings.length"
            :items="settings"/>
        <BaseTable
            v-else-if="computedTunes.length"
            :items="computedTunes"
            @select="selectTune"/>
    </div>
</template>

<script>
import axios from 'axios';
import { titleCase } from '../filters';

export default {
    data() {
        return {
            searchTerm: '',
            tunes: [],
            settings: [],
            isLoading: false,
        };
    },
    methods: {
        submitHandler() {
            this.isLoading = true;

            axios.get(`https://thesession.org/tunes/search?format=json&q=${encodeURIComponent(this.searchTerm)}`)
                .then((response) => {
                    this.tunes = response.data.tunes;
                    this.isLoading = false;
                });
        },
        selectTune(id) {
            this.isLoading = true;

            axios.get(`https://thesession.org/tunes/${id}&format=json`)
                .then((response) => {
                    this.settings = response.settings;
                    this.isLoading = false;
                });
        },
    },
    computed: {
        computedTunes() {
            const processedTunes = this.tunes.map(tune => ({
                id: tune.id,
                name: tune.name,
                type: titleCase(tune.type),
                URL: `<a href="${tune.url}">${tune.url}</a>`,
            }));

            return processedTunes;
        },
    },
};
</script>

<style lang="scss">
    .c-tune-finder {
        text-align: center;

        &__search {
            margin-bottom: 2em;

            .c-input {
                margin-right: 20px;
                min-width: 35vw;
            }
        }
    }
</style>
