<template>
    <div>
        <div class="c-navigation">
            <router-link to="/">Home</router-link>
            <router-link to="/search">Search</router-link>
        </div>
        <router-view/>
    </div>
</template>

<style lang="scss">
    body {
        font-family: $font-family-system;
    }

    a {
        color: $color-primary;
        transition: color $transition-duration-base;

        &:focus,
        &:active,
        &:hover {
            color: darken($color-primary, 15%);
        }
    }

    .u-visually-hidden {
        position: absolute;
        margin: -1px;
        padding: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
    }
</style>
